* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2c4c3b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
    text-align: center;
}

h1 {
    color: #ffff;
    margin-bottom: 0.5rem;
    font-size: 1.75rem;
}

.TodoContainer {
    background-color: #306844;
    margin-top: 5rem;
    padding: 2rem;
    border-radius: 5px;
}

.form {
    width: 100%;
    margin-bottom: 1rem;
}

.addTask {
    outline: none;
    background-color: none;
    border: 1px solid #455b55;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 300px;
    color: black;
}

.addTask::placeholder {
    color: #ffffff4d
}

.TaskBtn {
    background: #455b55;
    color: #fff;
    border: none;
    padding: 0.55rem;
    cursor: pointer;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #455b55;
    color: #fff;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.notCompleted {
    color: #fff;
    cursor: pointer;
}

.completed {
    color: #a9a9a9;
    text-decoration: line-through;
    cursor: pointer;
}

.deleteBtn {
    margin-right: 0.2rem;
}
.deleteBtn, .editBtn {
    background: #1e453e;
    color: #fff;
    border: none;
    padding: 0.55rem;
    cursor: pointer;
}